<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../app.js">
</script>

  <!-- <script>
    $(window).on('load',function() {
   switchClass(-1);
    });
  </script> -->




  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../public/style/style.css">
  <title>Max Chadliev</title>
</head>

<body>

    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>


    <div class="center">
        <h1 class="center__text glitch is-glitching" data-text="Max Chadliev">Max Chadliev</h1>
    </div>




      <div class="center1">
        <h1 id="word">
            <span class="letter"></span>
            <span class="letter"></span>
            <span class="letter"></span>
            <span class="letter"></span>
            <span class="letter"></span>
            <span class="letter"></span>
          <span class="letter">W</span>
          <span class="letter">E</span>
          <span class="letter">L</span>
          <span class="letter">C</span>
          <span class="letter">O</span>
          <span class="letter">M</span>
          <span class="letter">E</span>
          <span class="letter"></span>
          <span class="letter"></span>
          <span class="letter"></span>
          <span class="letter"></span>
          <span class="letter"></span>  
         

        </h1>

        
      </div>

   <div class ="container1">
     </div>


      <div class="container demo">

      <div class="text-center button">
        <span class="button__mask"></span>
        <span class="button__text"></span>
        <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal">
          About Me
        </button>
      </div>


      <div class="text-center button">
        <span class="button__mask"></span>
        <span class="button__text"></span>
        <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
          Projects  
        </button>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">

          </div>

          <div class="modal-body">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </p>
          </div>

        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <!-- Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <h1>My Projects</h1>

          <div class="modal-header">
          </div>

          <div class="modal-body">
              <figure class="card-flip fancy-hover">
                  <div class="card-flip__flipper">
                    <!-- FRONT SIDE -->
                    <figure class="card-flip__content card-flip__content--front">
                      <img class="fancy-hover__image" src="https://unsplash.it/300/450?image=953">
                      <div class="fancy-hover__fancy"></div>
                      <div class="fancy-hover__element fancy-hover__element--title">
                        <p class="fancy-hover__text">Title</p>
                      </div>
                      <div class="fancy-hover__element fancy-hover__element--subtitle">
                        <p class="fancy-hover__text">Description<br>(click me)</p>
                      </div>
                    </figure>
                    <!-- BACK SIDE -->
                    <figure class="card-flip__content card-flip__content--back">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </figure>
                  </div>
                </figure>
                <figure class="card-flip fancy-hover">
                    <div class="card-flip__flipper">
                      <!-- FRONT SIDE -->
                      <figure class="card-flip__content card-flip__content--front">
                        <img class="fancy-hover__image" src="https://unsplash.it/300/450?image=953">
                        <div class="fancy-hover__fancy"></div>
                        <div class="fancy-hover__element fancy-hover__element--title">
                          <p class="fancy-hover__text">Title</p>
                        </div>
                        <div class="fancy-hover__element fancy-hover__element--subtitle">
                          <p class="fancy-hover__text">Description<br>(click me)</p>
                        </div>
                      </figure>
                      <!-- BACK SIDE -->
                      <figure class="card-flip__content card-flip__content--back">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                      </figure>
                    </div>
                  </figure>
                  <figure class="card-flip fancy-hover">
                      <div class="card-flip__flipper">
                        <!-- FRONT SIDE -->
                        <figure class="card-flip__content card-flip__content--front">
                          <img class="fancy-hover__image" src="https://unsplash.it/300/450?image=953">
                          <div class="fancy-hover__fancy"></div>
                          <div class="fancy-hover__element fancy-hover__element--title">
                            <p class="fancy-hover__text">Title</p>
                          </div>
                          <div class="fancy-hover__element fancy-hover__element--subtitle">
                            <p class="fancy-hover__text">Description<br>(click me)</p>
                          </div>
                        </figure>
                        <!-- BACK SIDE -->
                        <figure class="card-flip__content card-flip__content--back">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </figure>
                      </div>
                    </figure>
                    <figure class="card-flip fancy-hover">
                        <div class="card-flip__flipper">
                          <!-- FRONT SIDE -->
                          <figure class="card-flip__content card-flip__content--front">
                            <img class="fancy-hover__image" src="https://unsplash.it/300/450?image=953">
                            <div class="fancy-hover__fancy"></div>
                            <div class="fancy-hover__element fancy-hover__element--title">
                              <p class="fancy-hover__text">Title</p>
                            </div>
                            <div class="fancy-hover__element fancy-hover__element--subtitle">
                              <p class="fancy-hover__text">Description<br>(click me)</p>
                            </div>
                          </figure>
                          <!-- BACK SIDE -->
                          <figure class="card-flip__content card-flip__content--back">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                          </figure>
                        </div>
                      </figure>
          </div>

        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->


  </div><!-- container -->



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>